.container--inner{
    display: block;
    padding-top: 15px;
    width: 90%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
.event-container{
    display: block;
    padding-top: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}